<Project>

  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <DebugType>embedded</DebugType>
    <AllowedReferenceRelatedFileExtensions>none</AllowedReferenceRelatedFileExtensions>
    <PublishDir>bin\publish\win-x64\</PublishDir>
  </PropertyGroup>

  <Target Name="TrimReferencedExeConfigFiles" AfterTargets="ComputeFilesToPublish">
    <ItemGroup>
      <ResolvedFileToPublish Remove="@(ResolvedFileToPublish)"
        Condition="'%(Filename)%(Extension)' == 'SMGEditor.Viewer.deps.json' Or '%(Filename)%(Extension)' == 'SMGEditor.Viewer.runtimeconfig.json'" />
    </ItemGroup>
  </Target>

</Project>
